@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --primary: #008075;
}

body {
  background: #fafafa;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
