@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --primary: #008075;
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #b0b0b0;
  --scrollbar-thumb-hover: #909090;
}

body {
  background: #fafafa;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

button {
  cursor: pointer !important;
}
